.shredder {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  position: relative;
}

.money {
  height: 50px;
  width: 50px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 75px;
  animation: shred 1s linear forwards;
}

@keyframes shred {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200px);
  }
}